/* mobile view */
@media only screen and (max-width: 480px) {

    #card__mainContainer{
        background-color: lightblue;
        margin-top: 20px;
        text-align: center;
        width: auto;
        border-radius: 10px;

        padding-top: 20px;
    
    }

    #card__playerImage{
        border-radius: 500px;
        height: 50vw;
        
    }

    #positionIcon{
        height: 30px;
    }


    
    #card__footballIcon{
        height: 20px;
    }
    #card__clockImage{

        height: 20px;
    }

    #card__skillAndValueContainer
    {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        }

        #card__ValueText{
            text-align: right;
            margin: 0px;
            padding: 0px;
            
        }
        #card__upcomingMatchContainer{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        #card__footballAndText{
            display: flex;
            text-align: center;
            justify-content: space-evenly;
        }
        #card__skillContainer{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            text-align: center;
            align-items: center;
        }
    }

/* desktop */
    @media only screen and (min-width: 480px) {
        #card__mainContainer{
            background-color: lightblue;
            margin: 20px;
            border-radius: 10px;


            
         
        
        }
            #card__playerImage{
        border-radius: 500px;
        height: 200px;
        
    }

    #card__imageContainer{
        padding-top: 10px;
        text-align: center;
    }

    #card__playerName{
        padding: 0px;
        margin: 0px;
        /* font-family: ''; */
    }
    #card__skillContainer{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: center;
        align-items: center;
    }

    #positionIcon{
        height: 30px;
    }

     #card__ValueText{
        text-align: right;
        margin: 0px;
        padding: 0px;
        
    }

    #card__skillAndValueContainer
    {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        }

        #card__footballIcon{
            height: 20px;
        }

        #card__footballAndText{
            display: flex;
            text-align: center;
            justify-content: space-evenly;
        }

        #card__upcomingMatch{

            display: flex;
            justify-content: center;
        }

        #card__footballImageContainer{
            padding-right: 10px;
        }

            #card__clockImage{

                height: 20px;
            }

            #card__upcomingMatchContainer{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            #card__time{
                padding-left: 10px;
            }



    }








    